.book {
  height: 250px;
  margin: 5px;
  position: relative;
}

.book-image {
  width: auto;
  height: 100%;
}

.book-info {
  display: none;
  position: absolute;
  padding: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  color: white;
  background: rgba(0, 0, 0, 0.8);

  text-transform: uppercase;
}

.book:hover .book-info {
  display: block;
}